<h2>New Clients</h2>
<section>
  <p>Are you tired of</p>

  <ul>
    <li>Unreliable freelancers?</li>
    <li>Expensive consultancies?</li>
    <li>A revolving door of developers?</li>
  </ul>

  <p>Would you like</p>
  <ul>
    <li>A long term technical partner?</li>
    <li>Great communication?</li>
    <li>Professional Service?</li>
    <li>High quality software?</li>
    <li>Someone you can trust?</li>
  </ul>

  <p>
    I work with a select group of Founders and CEOs that share my values. Reach
    out to discuss how we can work together.
    <b>Email me: hello@railsfever.com.</b>
  </p>
</section>
